.content-above-buttons {
    position: relative;
}

.button-container {
    position: absolute;
    width: 100%;
    bottom: -2rem;
    left: 0;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}

.button-container a {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.video-container {
    border-radius: 10px 10px 0 0;
    position: relative;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*.done-checkbox {
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    color: #fff;
}

.done-checkbox span {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

.done-checkbox input[type="checkbox"]{
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 0;
    transition: background-color 0.2s, border-color 0.2s;
}*/


.done-checkbox {
    border-radius: 5px;
    border: 1px solid #1f2122;
    padding: 9px 20px 9px 35px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    color: #fff;
    position: relative;
    background: transparent;
}

.done-checkbox:hover {
    background: rgba(200, 200, 200, 0.2);
}

.done-checkbox .checkbox-label {
    color: #1f2122;
    font-size: 1rem;
    font-weight: 500;
}

.done-checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;
}

.done-checkbox input[type="checkbox"] + .checkbox-custom {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #1f2122;
    border-radius: 3px;
    background-color: transparent;
    position: absolute;
    top: 10px;
    left: 10px;
    transition: background-color 0.5s ease, border-color 0.5s;
}

.done-checkbox input[type="checkbox"]:checked + .checkbox-custom {
    background-color: transparent;
    border-color: grey;
}

.done-checkbox input[type="checkbox"]:checked + .checkbox-custom::before {
    content: "✔";
    color: #1f2122;
    font-size: 15px;
    position: absolute;
    top: -3px;
    left: 1px;
}

/*.done-checkbox input[type="checkbox"]:checked ~ .checkbox-label {
    padding-left: 15px; !* Adjust padding when checked *!
}*/

.done-checkbox.disabled {
    cursor: default;
    border-color: #aaa;
}
.done-checkbox.disabled span {
    color: #aaa;
}

.done-checkbox.disabled:hover {
    background: transparent;
}

.done-checkbox.disabled input[type="checkbox"] + .checkbox-custom {
    border-color: #aaa;
}
.done-checkbox.disabled input[type="checkbox"] + .checkbox-custom:before {
    color: #aaa;
}
